{% extends "base.html" %}
{% block content %}
  <h1>Listaus oppilaista</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää oppilas</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Etunimi</th>
        <th>Sukunimi</th>
        <th>Instrumentti</th>
        <th>Opiskelee</th>
        <th>Aloitusvuosi</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan oppilaat tähän -->
      <tr>
        <td>Lauri</td>
        <td>Laiskuri</td>
        <td>Sähköbasso</td>
        <td><label class="label label-danger">kyllä</label></td>
        <td>18.8.2013</td>
        <th><a class="btn btn-default btn-sm" href="#">Materiaalit</a></th>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
      <tr>
        <td>Anssi</td>
        <td>Kuhnuri</td>
        <td>Kontrabasso</td>
        <td><label class="label label-danger">kyllä</label></td>
        <td>19.8.1954</td>
        <th><a class="btn btn-default btn-sm" href="#">Materiaalit</a></th>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}